<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/airplane_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/airplane_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pilot_preflight"
        tools:targetApi="31">
        <activity
            android:name=".WeatherActivity"
            android:exported="false"
            android:label="Weather"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".EvaluationResultsActivity"
            android:exported="false"
            android:label="EvaluationResult"
            android:parentActivityName=".EmotionActivity" />
        <activity
            android:name=".EmotionActivity"
            android:exported="false"
            android:label="Emotion"
            android:parentActivityName=".FatigueActivity" />
        <activity
            android:name=".FatigueActivity"
            android:exported="false"
            android:label="Fatigue"
            android:parentActivityName=".AlcoholActivity" />
        <activity
            android:name=".AlcoholActivity"
            android:exported="false"
            android:label="Alcohol"
            android:parentActivityName=".StressActivity" />
        <activity
            android:name=".StressActivity"
            android:exported="false"
            android:label="Stress"
            android:parentActivityName=".MedicationActivity" />
        <activity
            android:name=".MedicationActivity"
            android:exported="false"
            android:label="Medication"
            android:parentActivityName=".IllnessActivity" />
        <activity
            android:name=".IllnessActivity"
            android:exported="false"
            android:label="Illness"
            android:parentActivityName=".ImsafeActivity" />
        <activity
            android:name=".ImsafeActivity"
            android:exported="false"
            android:label="IMSAFE Evaluation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegulationsActivity"
            android:exported="false"
            android:label="Regulations Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MedicalActivity"
            android:exported="false"
            android:label="Medical Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PreviousEvaluations"
            android:exported="false"
            android:label="Previous Evaluations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>